<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
    <style>
        .button-style {
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: #007bff;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<p th:text="${book.getName()+', '+book.getAuthor()+', '+book.getYear()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getName()}">Person name</span>

    <form th:method="PATCH" th:action ="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книку " class="button-style">
    </form>
</div>

<div  th:if="${people}">
    <span>Эта книга свободна. Кому назначить её?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу" class="button-style">
    </form>


</div>

<br>
<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}" class="button-style">Редактировать</a>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}"/>
<input type="submit" value="Удалить" class="button-style">
<div>
    <a th:href="@{/books}" class="button-style">Назад</a>
</div>

</body>
</html>